/* место для вашего кода */
.container {
  max-width: calc(1052px + 24px * 2);
  padding: 0 24px;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  ;
  align-items: center;
  padding: 95px 53px 80px 50px;
  font-size: 18px;
}

.header__logo-img {
  width: 148px;
}

.header__list {
  display: flex;
  gap: 32px;
}

.header__item {
  list-style: circle;
}

.header__link {
  font-size: 18px;
}

.header__item:first-of-type {
  list-style: none;
}

.header__link--active {
  text-decoration: none;
  list-style: none;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-width: 240px;
  font-style: normal;
  align-items: flex-start;
  gap: 4px;
}

.cover {
  background-image: url("../images/cover.jpg");
  min-height: 757px;
  background-size: cover;
  position: relative;
  padding: 165px 21px 50px 50px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #00000060;
  z-index: 0;
  left: 0;
  top: 0;
}

.cover__content {
  position: relative;
  z-index: 1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
  color: white;
  gap: 16px;
  margin-bottom: 108px;
}

.cover__aligned-text {
  letter-spacing: 0.3em;
}

.cover__aligned-text--left {
  text-align: left;
}

.cover__aligned-text--center {
  text-align: center;
}

.cover__aligned-text--right {
  text-align: right;
}

.cover__description {
  display: flex;
  gap: 107px;
  align-items: center;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 19px;
}

.cover__btn {
  background-color: transparent;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  border-width: 1px;
  border-color: #fff;
  padding: 12px 32px 11px 31px;
}

.lots {
  padding-top: 180px;
  padding-bottom: 120px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.lots__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list-item {
  min-height: 596px;
}

.lots__look-more-link {
  font-weight: 400;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 40px;
}

.card__content {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.card {
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 48px 40px;
  position: relative;
}

.card--type-film {
  background-image: url("../images/card-lot-01.jpg");

}

.card--type-book {
  background-image: url("../images/card-lot-02.jpg");
}

.card--type-picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.about {
  padding-bottom: 181px;
}

.about__wrapper {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 20px;
  justify-items: center;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__column {
  padding-top: 35px;
}

.about__column--right {
  padding-top: 135px;
}

.about__logo-background {
  display: flex;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
}

.about__descr {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  max-width: 688px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 0 50px 82px 52px;
}

.footer__social-icon {
  width: 48px;
}

.footer__address {
  max-width: 265px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer__menu {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  display: flex;
}

.footer__link--active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-content: flex-end;
}